<!-- Our Project Section Start -->
<div class="our-projects bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Project Filter Box Header Start -->
                <div class="project-filter-box-header">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="section-sub-title wow fadeInUp">Мои проекты</span>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Воплощаю идеи в мощные цифровые решения</h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- Our Project Nav start -->
                    <div class="our-project-filter-nav wow fadeInUp" data-wow-delay="0.2s">
                        <ul>
                            <li><a href="#" class="active-btn" data-filter="*"><img src="/images/icon-our-feature-tab-1.svg" alt="Все проекты"> Все проекты</a></li>
                            <li><a href="#" data-filter=".uiux"><img src="/images/icon-our-feature-tab-1.svg" alt="AI Решения"> AI Решения</a></li>
                            <li><a href="#" data-filter=".web"><img src="/images/icon-our-feature-tab-1.svg" alt="Веб-разработка"> Веб-разработка</a></li>
                        </ul>
                    </div>
                    <!-- Our Project Nav End -->
                </div>
                <!-- Project Filter Box Header End -->
            </div>
            <!-- Project Item List end -->
        </div>
        <!-- Our Project Tab Box End -->

        <div class="row project-item-list">
            <div class="col-xl-4 col-md-6 project-item-box web">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp">
                    <!-- Project Item Image Start -->
                    <div class="project-item-image">
                        <a href="project-single.html" data-cursor-text="View">
                            <figure>
                                <img src="/images/project-1.jpg" alt="Кейс: AI автоматизация">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Item Image End -->

                    <!-- Project Item Body Start -->
                    <div class="project-item-body">
                        <!-- Project Item Content Start -->
                        <div class="project-item-content">
                            <ul>
                                <li><a href="/projects">Веб-разработка</a></li>
                            </ul>
                            <h2><a href="/projects">Платформа для E-commerce</a></h2>
                        </div>
                        <!-- Project Item Content End -->

                        <!-- Project Item Button Start  -->
                        <div class="project-item-btn">
                            <a href="/projects" class="readmore-btn">Смотреть проект</a>
                        </div>
                        <!-- Project Item Button End  -->
                    </div>
                    <!-- Project Item Body End -->
                </div>
                <!-- Project Item End -->
            </div>

            <div class="col-xl-4 col-md-6 project-item-box uiux">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Project Item Image Start -->
                    <div class="project-item-image">
                        <a href="project-single.html" data-cursor-text="View">
                            <figure>
                                <img src="/images/project-2.jpg" alt="Кейс: Разработка MVP">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Item Image End -->

                    <!-- Project Item Body Start -->
                    <div class="project-item-body">
                        <!-- Project Item Content Start -->
                        <div class="project-item-content">
                            <ul>
                                <li><a href="/projects">UI/UX Дизайн</a></li>
                            </ul>
                            <h2><a href="/projects">Редизайн корпоративного сайта</a></h2>
                        </div>
                        <!-- Project Item Content End -->

                        <!-- Project Footer Button Start  -->
                        <div class="project-item-btn">
                            <a href="/projects" class="readmore-btn">Смотреть проект</a>
                        </div>
                        <!-- Project Footer Button End  -->
                    </div>
                    <!-- Project Item Body End -->
                </div>
                <!-- Project Item End -->
            </div>

            <div class="col-xl-4 col-md-6 project-item-box web uiux">
                <!-- Project Item Start -->
                <div class="project-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Project Item Image Start -->
                    <div class="project-item-image">
                        <a href="project-single.html" data-cursor-text="View">
                            <figure>
                                <img src="/images/project-3.jpg" alt="Кейс: Интеграция CRM">
                            </figure>
                        </a>
                    </div>
                    <!-- Project Item Image End -->

                    <!-- Project Item Body Start -->
                    <div class="project-item-body">
                        <!-- Project Item Content Start -->
                        <div class="project-item-content">
                            <ul>
                                <li><a href="/projects">Брендинг</a></li>
                            </ul>
                            <h2><a href="/projects">Айдентика для IT компании</a></h2>
                        </div>
                        <!-- Project Item Content End -->

                        <!-- Project Footer Button Start  -->
                        <div class="project-item-btn">
                            <a href="/projects" class="readmore-btn">Смотреть проект</a>
                        </div>
                        <!-- Project Footer Button End  -->
                    </div>
                    <!-- Project Item Body End -->
                </div>
                <!-- Project Item End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text section-satisfy-img wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Satisfy Client Images Start -->
                    <div class="satisfy-client-images">
                        <div class="satisfy-client-image">
                            <figure class="image-anime">
                                <img src="/images/author-1.jpg" alt="Довольный клиент">
                            </figure>
                        </div>
                        <div class="satisfy-client-image add-more">
                            <img src="/images/icon-phone-black.svg" alt="Телефон">
                        </div>
                    </div>
                    <!-- Satisfy Client Images End -->
                    <p>Давайте создадим что-то великое вместе. <a href="/projects">Посмотреть все проекты.</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Project Section End -->