---
import { getCollection } from 'astro:content';

const entries = await getCollection('services');
const services = entries.map((entry) => ({
    title: entry.data.title,
    link: `/services/${entry.id}`,
    no: entry.data.no || "99"
})).sort((a, b) => a.no.localeCompare(b.no));
---
<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.svg" alt="AI агентство">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">Обо мне</a></li>
                            <li class="nav-item submenu has-mega-menu"><a class="nav-link" href="/services">Услуги</a>
                                <ul class="services-mega-menu">
                                    {services.map((service) => (
                                        <li class="nav-item"><a class="nav-link" href={service.link}>{service.title}</a></li>
                                    ))}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/pricing">Цены</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Страницы</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="/consultation">Консультация по ИИ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/ai-developer">Вайб кодер, MLOps</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/ai-dev-training">Обучение ИИ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/case">Проекты</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/knowledge">База знаний</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/blog">Блог</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Контакты</a></li>
                        </ul>
                    </div>

                    <!-- Header Btn Start -->
                    <div class="header-btn">
                        <a href={import.meta.env.PUBLIC_TELEGRAM_URL || "https://t.me/W1DO_DIGITAL"} class="btn-default" data-cursor="-opaque">Связаться</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->