@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-Medium.eot');
    src: url('../fonts/OverusedGrotesk-Medium-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Medium.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Medium.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-Italic.eot');
    src: url('../fonts/OverusedGrotesk-Italic-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Italic.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Italic.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Italic.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-Light.eot');
    src: url('../fonts/OverusedGrotesk-Light-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Light.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Light.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Light.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-Regular.eot');
    src: url('../fonts/OverusedGrotesk-Regular-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Regular.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Regular.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-SemiBold.eot');
    src: url('../fonts/OverusedGrotesk-SemiBold-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-SemiBold.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-SemiBold.woff') format('woff'),
        url('../fonts/OverusedGrotesk-SemiBold.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-Black.eot');
    src: url('../fonts/OverusedGrotesk-Black-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Black.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Black.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Black.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk Book';
    src: url('../fonts/OverusedGrotesk-Book.eot');
    src: url('../fonts/OverusedGrotesk-Book-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Book.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Book.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Book.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-Bold.eot');
    src: url('../fonts/OverusedGrotesk-Bold-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-Bold.woff') format('woff'),
        url('../fonts/OverusedGrotesk-Bold.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url('../fonts/OverusedGrotesk-ExtraBold.eot');
    src: url('../fonts/OverusedGrotesk-ExtraBold-1.eot') format('embedded-opentype'),
        url('../fonts/OverusedGrotesk-ExtraBold.woff2') format('woff2'),
        url('../fonts/OverusedGrotesk-ExtraBold.woff') format('woff'),
        url('../fonts/OverusedGrotesk-ExtraBold.ttf') format('truetype'),
        url('../fonts/OverusedGrotesk-ExtraBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

