---
interface Props {
    subTitle?: string;
    title?: string;
    tickerItems?: string[];
}

const {
    subTitle = "Принцип работы",
    title = "Какие процессы я закрываю в работе с AI",
    tickerItems = ["Web-разработка", "Внедрение AI", "Low-code", "No-code"]
} = Astro.props;
---
<!-- Intro Video Section Start -->
<div class="intro-video dark-section bg-section parallaxie">
    <!-- Intro Video Box Start -->
    <div class="intro-video-box">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <!-- Intro Video Content Box Start -->
                    <div class="intro-video-content-box">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <span class="section-sub-title wow fadeInUp">{subTitle}</span>
                            <h2 class="text-anime-style-3" data-cursor="-opaque">{title}</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Intro Video Circle Start -->
                        <div class="intro-video-circle wow fadeInUp" data-wow-delay="0.2s">
                            <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                                <img src="/images/watch-video-circle.svg" alt="Смотреть видео о процессе">
                            </a>
                        </div>
                        <!-- Intro Video Circle End -->
                    </div>
                    <!-- Intro Video Content Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Intro Video Box End -->

    <!-- Scrolling Ticker Section Start -->
    <div class="our-scrolling-ticker">
        <!-- Scrolling Ticker Start -->
        <div class="scrolling-ticker-box">
            <div class="scrolling-content">
                {tickerItems.map((item) => (
                    <span><img src="/images/icon-asterisk-white.svg" alt="*">{item}</span>
                ))}
            </div>

        </div>
        <!-- Scrolling Ticker End -->
    </div>
    <!-- Scrolling Ticker Section End -->
</div>
<!-- Intro Video Section End -->