<!-- Preloader Start -->
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="/images/loader.svg" alt="Загрузка"></div>
    </div>
</div>
<!-- Preloader End -->