<!-- Our Process Section Start -->
<div class="our-process">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-xl-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <span class="section-sub-title wow fadeInUp">Процесс работы</span>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">AI Roadmap: как я внедряю нейросети в ваш бизнес</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-xl-6">
                <!-- Section Content Button Start -->
                <div class="section-content-btn">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                        <p>Этот процесс позволяет мне создавать высококачественные цифровые решения, которые помогают бизнесу расти и достигать реальных результатов.</p>
                    </div>
                    <!-- Section Title Content End -->

                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href={import.meta.env.PUBLIC_TELEGRAM_URL} class="btn-default">Связаться</a>
                    </div>
                    <!-- Section Button End -->
                </div>
                <!-- Section Content Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Process Item List Start -->
                <div class="process-item-list">
                    <!-- Process Item Start -->
                    <div class="process-item box-border-gradiant wow fadeInUp">
                        <div class="icon-box">
                            <img src="/images/icon-process-item-1.svg" alt="Этап 1: Аналитика и аудит">
                        </div>
                        <div class="process-item-content">
                            <p>Анализ</p>
                            <h3>Изучаю ваши бизнес-процессы и нахожу точки роста</h3>
                        </div>
                        <div class="process-item-no">
                            <h3>.01</h3>
                        </div>
                    </div>
                    <!-- Process Item End -->

                    <!-- Process Item Start -->
                    <div class="process-item box-border-gradiant wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="/images/icon-process-item-2.svg" alt="Этап 2: Прототипирование AI решений">
                        </div>
                        <div class="process-item-content">
                            <p>Прототип</p>
                            <h3>Создаю минимально рабочий ИИ-инструмент для теста</h3>
                        </div>
                        <div class="process-item-no">
                            <h3>.02</h3>
                        </div>
                    </div>
                    <!-- Process Item End -->

                    <!-- Process Item Start -->
                    <div class="process-item box-border-gradiant wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="/images/icon-process-item-3.svg" alt="Этап 3: Масштабирование и интеграция">
                        </div>
                        <div class="process-item-content">
                            <p>Масштабирование</p>
                            <h3>Полноценная интеграция в ваши системы</h3>
                        </div>
                        <div class="process-item-no">
                            <h3>.03</h3>
                        </div>
                    </div>
                    <!-- Process Item End -->

                    <!-- Process Item Start -->
                    <div class="process-item box-border-gradiant wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="/images/icon-process-item-4.svg" alt="Этап 4: Поддержка и оптимизация">
                        </div>
                        <div class="process-item-content">
                            <p>Поддержка</p>
                            <h3>Постоянная оптимизация алгоритмов под задачи</h3>
                        </div>
                        <div class="process-item-no">
                            <h3>.04</h3>
                        </div>
                    </div>
                    <!-- Process Item End -->
                </div>
                <!-- Process Item List End -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.2s">
                    <p>Помогаю брендам подключаться, расти и достигать успеха в современном цифровом мире</p>
                    <ul class="section-footer-border-list">
                        <li>Доверяют более <b>100+</b> клиентов</li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <b><span class="counter">4.9</span>/5</b>
                        </li>
                    </ul>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Process Section End -->