<!-- Our Service Section Start -->
<div class="our-services bg-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <!-- Our Service Content Start -->
                <div class="our-service-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="section-sub-title wow fadeInUp">Мои услуги</span>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Услуги по разработке и автоматизации с помощью ИИ</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">От разработки стратегии до ее реализации я сосредоточен на достижении значимых результатов, которые способствуют расширению вашего бизнеса и его долгосрочному успеху.</p>
                    </div>
                    <!-- Section Title Start -->

                    <!-- Our Service Button Start -->
                    <div class="our-service-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="/services" class="btn-default">Все услуги</a>
                    </div>
                    <!-- Our Service Button End -->
                </div>
                <!-- Our Service Content End -->
            </div>

            <div class="col-xl-6">
                <!-- Service Item List Start -->
                <div class="service-item-list">
                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 01 ]</span>
                                <h2><a href="/services">Сборка прототипов (MVP)</a></h2>
                                <p>Быстрая проверка гипотез с помощью ИИ. Запуск продукта за 7-14 дней для тестирования рынка с минимальными затратами.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-1.svg" alt="Услуга: Сборка прототипов и MVP">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>MVP</li>
                                <li>Прототипирование</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 02 ]</span>
                                <h2><a href="/services">Верстка HTML</a></h2>
                                <p>Современная, адаптивная верстка с идеальным Pixel Perfect и высокой скоростью загрузки.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-2.svg" alt="Услуга: Профессиональная верстка сайтов">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>HTML/CSS</li>
                                <li>Адаптивность</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 03 ]</span>
                                <h2><a href="/services">ИИ чат-боты и ассистенты</a></h2>
                                <p>Конструктор ИИ ассистентов для техподдержки, продаж и HR. Умные помощники на базе LLM для автоматизации.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-3.svg" alt="Услуга: Внедрение ИИ чат-ботов">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>ИИ Боты</li>
                                <li>Автоматизация</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 04 ]</span>
                                <h2><a href="/services">Рефакторинг кода</a></h2>
                                <p>Оптимизация и очистка кода с помощью ИИ-инструментов для повышения производительности и стабильности.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-1.svg" alt="Услуга: Рефакторинг кода нейросетями">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>Refactoring</li>
                                <li>Optimization</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="0.8s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 05 ]</span>
                                <h2><a href="/services">Создание мобильных приложений</a></h2>
                                <p>Кроссплатформенная разработка быстрых и интуитивных приложений для вашего бизнеса.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-2.svg" alt="Услуга: Разработка мобильных приложений">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>Mobile</li>
                                <li>App</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="1.0s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 06 ]</span>
                                <h2><a href="/services">Работа с CRM системами</a></h2>
                                <p>Интеграция AI в AmoCRM, Bitrix24. Автоматическое заполнение сделок и управление процессами.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-3.svg" alt="Услуга: Автоматизация CRM систем">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>CRM</li>
                                <li>Integration</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="1.2s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 07 ]</span>
                                <h2><a href="/services">Разработка сайтов</a></h2>
                                <p>Полноцикловая разработка от дизайна до запуска. Создание эффективных бизнес-инструментов.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-1.svg" alt="Услуга: Разработка сайтов под ключ">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>Web</li>
                                <li>Development</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="1.4s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 08 ]</span>
                                <h2><a href="/services">Доработка сайтов</a></h2>
                                <p>Расширение функционала существующих проектов, исправление ошибок и поддержка.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-2.svg" alt="Услуга: Доработка и поддержка сайтов">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>Support</li>
                                <li>Update</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->

                    <!-- Service Item List Start -->
                    <div class="service-item box-border-gradiant wow fadeInUp" data-wow-delay="1.6s">
                        <!-- Service Item Header Start -->
                        <div class="service-item-header">
                            <!-- Service Item Content Start -->
                            <div class="service-item-content">
                                <span class="service-item-content-no">[ 09 ]</span>
                                <h2><a href="/services">Подключение платежных систем</a></h2>
                                <p>Интеграция эквайринга, Stripe, крипто-платежей для автоматизации приема оплаты.</p>
                            </div>
                            <!-- Service Item Content End -->

                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="/images/icon-service-3.svg" alt="Услуга: Подключение систем оплаты">
                            </div>
                            <!-- Icon Box End -->
                        </div>
                        <!-- Service Item Header End -->

                        <!-- Service Item Tag Start -->
                        <div class="service-item-tag">
                            <ul>
                                <li>Payments</li>
                                <li>Checkout</li>
                            </ul>
                        </div>
                        <!-- Service Item Tag End -->
                    </div>
                    <!-- Service Item List End -->
                </div>
                <!-- Service Item List Start -->
            </div>
        </div>
    </div>
</div>
<!-- Our Service Section End -->