<!-- Our Testimonials Section Start -->
<div class="our-testimonials">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-xl-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <span class="section-sub-title wow fadeInUp">Отзывы клиентов</span>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Что говорят клиенты о нашем опыте внедрения ИИ</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-xl-6">
                <!-- Section Content Button Start -->
                <div class="section-content-btn">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                        <p>Компании из разных отраслей доверяют нам внедрение инновационных ИИ-решений, которые реально влияют на бизнес-показатели.</p>
                    </div>
                    <!-- Section Title Content End -->

                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="testimonials.html" class="btn-default">Все отзывы</a>
                    </div>
                    <!-- Section Button End -->
                </div>
                <!-- Section Content Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <!-- Testimonial Image Box Start -->
                <div class="testimonial-image-box wow fadeInUp">
                    <!-- Testimonial image Start -->
                    <div class="testimonial-image">
                        <figure>
                            <img src="/images/testimonial-image.jpg" alt="Отзыв клиента AI агентства">
                        </figure>
                    </div>
                    <!-- Testimonial image End -->

                    <!-- Testimonials CTA Box Start -->
                    <div class="testimonials-cta-box">
                        <!-- Satisfy Client Images Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-1.jpg" alt="Александр Волков">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-2.jpg" alt="Мария Соколова">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-3.jpg" alt="Дмитрий Иванов">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="/images/author-4.jpg" alt="Клиент">
                                </figure>
                            </div>
                        </div>
                        <!-- Satisfy Client Images End -->

                        <!-- Testimonials CTA Content Start -->
                        <div class="testimonials-cta-content">
                            <p>“ 98% уровень удовлетворенности наших клиентов.</p>
                        </div>
                        <!-- Testimonials CTA Content End -->
                    </div>
                    <!-- Testimonials CTA Box End -->
                </div>
                <!-- Testimonial Image Box End -->
            </div>

            <div class="col-xl-8 col-lg-7">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider box-border-gradiant">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">
                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item">
                                    <!-- Testimonial Item Header Start -->
                                    <div class="testimonial-item-header">
                                        <!-- Testimonial Item Rating Start -->
                                        <div class="testimonial-item-rating">
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                        </div>
                                        <!-- Testimonial Item Rating End -->

                                        <!-- Testimonial Item Content Start -->
                                        <div class="testimonial-item-content">
                                            <p>“ Внедрение RAG-системы для нашей службы поддержки превзошло все ожидания. Раньше операторы тратили минуты на поиск по регламентам, теперь ИИ выдает точный ответ за секунды. Время обработки заявки сократилось на 60%, а клиенты получают помощь мгновенно. ”</p>
                                        </div>
                                        <!-- Testimonial Item Content End -->
                                    </div>
                                    <!-- Testimonial Item Header End -->

                                    <!-- Testimonial Item Author Start -->
                                    <div class="testimonial-item-author">
                                        <div class="testimonial-author-image">
                                            <figure class="image-anime">
                                                <img src="/images/author-1.jpg" alt="Александр Волков">
                                            </figure>
                                        </div>
                                        <div class="testimonial-author-content">
                                            <h2>Александр Волков</h2>
                                            <p>Технический директор, LogiTrans</p>
                                        </div>
                                    </div>
                                    <!-- Testimonial Item Author End -->
                                </div>
                                <!-- Testimonial Item End -->
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item">
                                    <!-- Testimonial Item Header Start -->
                                    <div class="testimonial-item-header">
                                        <!-- Testimonial Item Rating Start -->
                                        <div class="testimonial-item-rating">
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                        </div>
                                        <!-- Testimonial Item Rating End -->

                                        <!-- Testimonial Item Content Start -->
                                        <div class="testimonial-item-content">
                                            <p>“ Мы искали способ автоматизировать классификацию входящих документов. Разработанное ИИ-решение теперь автоматически распознает типы договоров и извлекает ключевые данные с точностью 98%. Это освободило наш юридический отдел от рутины и ускорило согласование сделок в 3 раза. ”</p>
                                        </div>
                                        <!-- Testimonial Item Content End -->
                                    </div>
                                    <!-- Testimonial Item Header End -->

                                    <!-- Testimonial Item Author Start -->
                                    <div class="testimonial-item-author">
                                        <div class="testimonial-author-image">
                                            <figure class="image-anime">
                                                <img src="/images/author-2.jpg" alt="Мария Соколова">
                                            </figure>
                                        </div>
                                        <div class="testimonial-author-content">
                                            <h2>Мария Соколова</h2>
                                            <p>Операционный директор, PrimeLaw</p>
                                        </div>
                                    </div>
                                    <!-- Testimonial Item Author End -->
                                </div>
                                <!-- Testimonial Item End -->
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <!-- Testimonial Item Start -->
                                <div class="testimonial-item">
                                    <!-- Testimonial Item Header Start -->
                                    <div class="testimonial-item-header">
                                        <!-- Testimonial Item Rating Start -->
                                        <div class="testimonial-item-rating">
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                            <i class="fa fa-solid fa-star"></i>
                                        </div>
                                        <!-- Testimonial Item Rating End -->

                                        <!-- Testimonial Item Content Start -->
                                        <div class="testimonial-item-content">
                                            <p>“ Команда внедрила в наш интернет-магазин систему персональных рекомендаций на базе ИИ. Результат увидели уже в первый месяц: средний чек вырос на 25%, а конверсия из просмотра в покупку увеличилась вдвое. Поразительно, насколько точно модели предсказывают интересы покупателей. ”</p>
                                        </div>
                                        <!-- Testimonial Item Content End -->
                                    </div>
                                    <!-- Testimonial Item Header End -->

                                    <!-- Testimonial Item Author Start -->
                                    <div class="testimonial-item-author">
                                        <div class="testimonial-author-image">
                                            <figure class="image-anime">
                                                <img src="/images/author-3.jpg" alt="Дмитрий Иванов">
                                            </figure>
                                        </div>
                                        <div class="testimonial-author-content">
                                            <h2>Дмитрий Иванов</h2>
                                            <p>Основатель, TrendShop</p>
                                        </div>
                                    </div>
                                    <!-- Testimonial Item Author End -->
                                </div>
                                <!-- Testimonial Item End -->
                            </div>
                            <!-- Testimonial Slide End -->
                        </div>
                        <div class="testimonial-slider-btn">
                            <div class="testimonial-button-prev"></div>
                            <div class="testimonial-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial Slider End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Testimonials Section End -->