<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Awaiken">
    <meta name="generator" content={Astro.generator}/>
    <!-- Page Title -->
    <title>Fexora - Digital Marketing Agency HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- Custom Fonts Css-->
    <link href="css/fonts.css" rel="stylesheet" media="screen">
    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- SlickNav Css -->
    <link href="css/slicknav.min.css" rel="stylesheet">
    <!-- Swiper Css -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <!-- Font Awesome Icon Css-->
    <link href="css/all.min.css" rel="stylesheet" media="screen">
    <!-- Animated Css -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Mouse Cursor Css File -->
    <link rel="stylesheet" href="css/mousecursor.css">
    <!-- Main Custom Css -->
    <link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>
<slot/>
<!-- Jquery Library File -->
<script src="/js/jquery-3.7.1.min.js" is:inline></script>
<!-- Circle Progress Js File -->
<script src="/js/circle-progress.min.js" is:inline></script>
<!-- Bootstrap js file -->
<script src="/js/bootstrap.min.js" is:inline></script>
<!-- Validator js file -->
<script src="/js/validator.min.js" is:inline></script>
<!-- SlickNav js file -->
<script src="/js/jquery.slicknav.js" is:inline></script>
<!-- Swiper js file -->
<script src="/js/swiper-bundle.min.js" is:inline></script>
<!-- Counter js file -->
<script src="/js/jquery.waypoints.min.js" is:inline></script>
<script src="/js/jquery.counterup.min.js" is:inline></script>
<!-- Magnific js file -->
<script src="/js/jquery.magnific-popup.min.js" is:inline></script>
<!-- SmoothScroll -->
<script src="/js/SmoothScroll.js" is:inline></script>
<!-- Isotop js file -->
<script src="/js/isotope.min.js" is:inline></script>
<!-- Parallax js -->
<script src="/js/parallaxie.js" is:inline></script>
<!-- MagicCursor js file -->
<script src="/js/gsap.min.js" is:inline></script>
<script src="/js/magiccursor.js" is:inline></script>
<!-- Text Effect js file -->
<script src="/js/SplitText.min.js" is:inline></script>
<script src="/js/ScrollTrigger.min.js" is:inline></script>
<!-- YTPlayer js File -->
<script src="/js/jquery.mb.YTPlayer.min.js" is:inline></script>
<!-- Typed js file -->
<script src="/js/typed.js" is:inline></script>
<!-- Wow js file -->
<script src="/js/wow.min.js" is:inline></script>
<!-- Main Custom js file -->
<script src="/js/function.js" is:inline></script>
</body>
</html>